%div
  %h1 Welcome to the E-Commerce App
  - if !user_signed_in?
    %div
      Are you a new user, then
      %b
        = link_to "Sign up now!", new_user_registration_path
      or else please
      %b
        = link_to "Sign in", new_user_session_path
  - else 
    %div
      = link_to "logout!", destroy_user_session_path, method: :delete


%h1 All Products

%ul
  byebug
  = render @products
  <%= will_paginate @products %> 